<%- include("partials/Admin"); -%> 

<!-- Code Goes Here -->

<div class="container create-box">
    <form action="/admin-hospital" method="post">

        <input type="text" name="name" id="name" placeholder="Hospital Name">

        <input type="text" name="address" id="address" placeholder="Address">

        <input type="text" name="pincode" id="pincode" placeholder="pincode">
        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-plus"></i></button>
    </form>
</div>

    <div class="container table">
        <table class="table table-dark table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Hospital Address</th>
                    <th scope="col">Blood Units</th>
                </tr>
            </thead>
            <tbody>
                <%var count = 1;%>
                <% for(var i=Hospital.length-1; i>=0; i--){%>
                <tr>
                    <th scope="row"><%=count%></th>
                    <td><%=Hospital[i].name%></td>
                    <td><%=Hospital[i].address%>-<%=Hospital[i].pincode%></td>
                        <%var totalBlood = Hospital[i].Ap + Hospital[i].An + Hospital[i].Bp + Hospital[i].Bn + Hospital[i].Op + Hospital[i].On + Hospital[i].ABp + Hospital[i].ABn;%>
                    <td><%=totalBlood%></td>
                </tr>
                <%count = count + 1;}%>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>