<%- include("partials/Status"); -%>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-1">
                <div class="container nav-back-button">
                    <form action="/" method="get">
                        <button><i class="fa-solid fa-circle-chevron-left fa-4x"></i></button>
                    </form>
                </div>
            </div>
            <div class="col col-lg-11">
                <div class="container head">
                    Status
                </div>
            </div>
        </div>

<!-- Details -->
    <div class="container box">
        <div class="row">
            <div class="col col-lg-9" id="left">
                <b>ID:</b> <%=Recipient[0].r_id%><br> <br>
                <b>Name:</b> <%=Recipient[0].name%><br>
                <b>Phone:</b> <%=Recipient[0].phone%> <br>
                <b>Hospital:</b> <%=Hospital[0].name%> <br>
                <b>Address:</b> <%=Hospital[0].address%>-<%=Hospital[0].pincode%>
            </div>
            <div class="col col-lg-3" id="right">
                <!-- <i class="fa-solid fa-person-circle-check fa-2x"></i>
                <br>
                Approved  -->
                <div class="row"><br></div>
                <div class="row"><br></div>
                <div class="row"><div class="col">
                    <% if(Recipient[0].status === true){ %>
                        <td><i class="fa-solid fa-person-circle-check fa-2x"></i></td>
                    <% }else{ %>
                        <td><i class="fa-solid fa-hourglass-clock fa-2x"></i></td>
                    <% } %>
                </div></div>
                <div class="row"><br></div>
                <div class="row"><div class="col" id="text-status">
                    <% if(Recipient[0].status === true){ %>
                        <td>Approved</td>
                    <% }else{ %>
                        <td>Pending</td>
                    <% } %>
                </div></div>
            </div>
        </div>
    </div>
</body>
</html>
